<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="d-flex flex-column justify-content-center align-items-center mx-auto container">
      <form action="/auth/register" method="POST" class="w-50 mx-auto">
        <h3 class="text-center my-3">Register Now!</h3>
        <%- include('../partials/errors.ejs') %>
        
        <label for="username">Username:</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
        
        <label for="email">Email:</label>
        <div class="input-group mb-3">
          <input type="email" id="email" name="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="basic-addon1" required>
        </div>
        
        <label for="password">Password:</label>
        <div class="input-group mb-3">
          <input type="password" id="password" name="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1" required>
        </div>
        
        <label for="confirmPassword">Confirm Password:</label>
        <div class="input-group mb-3">
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="confirmPassword" aria-label="confirmPassword" aria-describedby="basic-addon1" required>
        </div>
        <p class="mb-1">Have an account already, <a href="/auth/login" class="text-primary">login now</a></p>

        <button class="w-100 btn btn-success">Register</button>
      </form>
    </div>

    <%- include('../partials/footer.ejs') %>
    </script>
  </body>
</html>
