<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blog TechEmmy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (user){ %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs/create">New Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/<%= user._id %>">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        <% } %>
      </ul>
      <span class="navbar-text">
        <% if (!(user)) { %>
          You're not logged In.
        <% } else { %>
          Welcome back!
        <% } %>
      </span>
    </div>
  </div>
</nav>