<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="404 content">
      <% if (message) {%>
        <h2>An error occured :|</h2>
        <h3 class="mt-3 text-lowercase"><%= message %></h3>
        <% } else { %>
          <h2>00PS, page not found :)</h2>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
