<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores,
        veritatis voluptatum, quis nostrum aspernatur, dolores minus cupiditate
        libero tempore incidunt perferendis ipsam id quasi distinctio
        consequatur molestias eligendi? Ratione, tenetur?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores,
        veritatis voluptatum, quis nostrum aspernatur, dolores minus cupiditate
        libero tempore incidunt perferendis ipsam id quasi distinctio
        consequatur molestias eligendi? Ratione, tenetur?
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
